{% extends 'basic.html' %}
{% block body %}
            <h1 class="center">Ride Logs</h1>
       

    <table class="table table-striped table-hover my-5">
        <thead>
            <tr>
          
              <th scope="col">User</th>
              <th scope="col">Driver</th>
              <th scope="col">Pickup Lat</th>
              <th scope="col">Pickup Long</th>
              <th scope="col">Drop Lat</th>
              <th scope="col">Drop Lat</th>
              <th scope="col">Drop Long</th>
              <th scope="col">Fare</th>
              <th scope="col">User Rating</th>
              <th scope="col">Driver Rating</th>
              <th scope="col">Cancellation</th>
              <th scope="col">Status</th>
              <th scope="col">Edit</th>
              
            </tr>
          </thead>
          <tbody>
            {%for i in ride %}
            
            <tr>
              
              <td class=" ">
                {{i.User_Detail}}
              </td>
              <td class=" ">
                {{i.Driver_Detail}}
              </td>
              <td class="">
                {{i.Date}} 
              </td>
              <td class="">
                {{i.pickup_location_lat}} 
              </td>
              <td class="">
                {{i.pickup_location_long}} 
              </td>
              <td class="">
                {{i.drop_location_lat}} 
              </td>
              <td class="">
                {{i.drop_location_long}} 
              </td>
              <td class="">
                {{i.Fare}} 
              </td>
              <td class="">
                {{i.User_ratings}} 
              </td>
              <td class="">
                {{i.Driver_ratings}} 
              </td>
             
              <td class="">
                {{i.Cancel_Ride}} 
              </td>
              <td class="">
                {{i.status}} 
              </td>
              <td class="">
                <a href="admin/dashboard/all_ride_historie/{{i.id}}/change/">Edit</a>
              </td>
             
            </tr>
            
            {% endfor %}
           
          </tbody>
      </table>
      </main>

    </div>

  </div>
{% endblock body %}
